:root {
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --Slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
  --Very-dark-blue-main-background: hsl(233, 47%, 7%);
  --Dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 62.5%; /* 10px */
  min-height: 100vh;
}

.container {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--Very-dark-blue-main-background);
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  max-width: 80rem;
  min-width: 75rem;
  height: fit-content;
  display: flex;
}

.card .info {
  flex: 0 0 50%;
  background-color: var(--Dark-desaturated-blue-card-background);
  padding: 6rem;
  padding-right: 7rem;
}

.title {
  color: var(--White-main-heading-stats);
  font-size: 3.5em;
  margin-bottom: 2rem;
}

.title span {
  color: var(--Soft-violet-accent);
}

.summary {
  color: var(--Slightly-transparent-white-main-paragraph);
  font-size: 1.5em;
  line-height: 1.75;
  margin-bottom: 3rem;
}

.items-list {
  display: flex;
  justify-content: space-between;
  padding-right: 1.75rem;
}

.item .highlight {
  color: var(--White-main-heading-stats);
  font-size: 2.5em;
  margin-bottom: 0.5rem;
}

.figureheads {
  font-size: 1.275em;
  font-family: "Lexend Deca", sans-serif;
  color: var(--Slightly-transparent-white-stat-headings);
}

.capital,
.figureheads {
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.card .image-wrapper {
  flex: 1;
}

.image-wrapper {
  position: relative;
  background-image: url(./images/image-header-desktop.jpg);
  /* background: -webkit-linear-gradient(
    left,
    transparent 50%,
    #fff 50%,
    transparent 100%
  ); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)); */
  background-size: cover;
  background-position: top;
}

/* .image-wrapper .image {
  width: 100%;
  height: 100%;
} */

/* .image-wrapper::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(277, 60%, 50%);
  opacity: 0.4;
  z-index: 10;
  width: 100%;
  height: 100%;
} */

ul {
  list-style: none;
}

@media screen and (max-width: 35rem) {
  body {
    font-size: 45%;
  }

  .card {
    min-height: 80vh;
    max-width: 28rem;
    min-width: 25rem;
    flex-direction: column-reverse;
  }

  .image {
    display: none;
  }

  .card .info {
    flex: 0 0 80%;
    padding: 2rem;
    text-align: center;
  }

  .title {
    margin-bottom: 0.65em;
  }

  .summary {
    margin-bottom: 2rem;
  }

  .items-list {
    flex-direction: column;
    align-items: center;
  }

  .item .highlight {
    text-align: center;
    margin-bottom: 0.2rem;
  }

  .image-wrapper {
    flex: 0;
  }

  /* .image-wrapper::after {
    background-image: url(images/image-header-mobile.jpg);
    background-size: cover;
    /* content: url(images/image-header-mobile.jpg); 
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(277, 60%, 50%);

    z-index: 10;
    width: 100%;
    height: 100%;
  } */
}
